header {
    background-color: rgba(11, 12, 16, 1);
}

.logo{
    padding: 0;
    margin: 0;
}

ul li{
    margin: 0 10px;
}

ul li:last-child{
    margin-right: 100px;
}

.logo_a, .logo_b{
    cursor: pointer;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.logo_a{
    color: #45A29E;
    font-size: 1.5rem;
}
.logo_b{
    color:#66FCF1 ;
    font-size: 2.5rem;
}

nav a {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
nav a:hover{
    color: #ffffff;
}

nav a:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 0%;
    height: 1px;
    background-color: #45A29E;
    transition: all .5s ease-in-out;
}

.my_nav{
    padding: 0 1rem;
}

nav a:hover:before {
    height: 3px;
    background-color: #66FCF1;
    width: 100%;
}





/*RESPONSIVE*/
@media screen and (max-width: 662px) {


}
