@import "css/home.css";
@import "css/header.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

body {
    color: #45A29E;
    background: radial-gradient(circle, rgba(31,40,51,1) 0%, rgba(11,12,16,1) 100%);
}



/*Body*/
.body_content{
    /*height: calc(100vh - 90px);*/
}


.footer {
    /*position: absolute;*/
    /*text-align: center;*/
    bottom: 0;
    width: 100%;
    height: 42px;
    /*border: 1px solid blue;*/
}

.footer p {
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    background-color: #1F2833;
    font-weight: 700;
}



