* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: Roboto;
    /*color: #ffffff;*/
    font-size: 16px;
}

body {
    /*background-color: #0B0C10;*/
    color: #45A29E;
}

header {
    background-color: #0B0C10;
    /*height: 50px;*/
}

header .btn {
    display: inline-block;
    /*border: 1px solid #45A29E;*/
    padding: 10px 20px !important;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    height: 44px;
    width: 114px;
    color: #66FCF1;
    background-color: #0B0C10;
    text-transform: uppercase;
}


header .btn:hover {
    border: 1px dotted #C5C6C7;
    color: #66FCF1;
    box-shadow: 0px 0px 15px 7px #45A29E;
}

header .btn:last-child {
    margin-right: 150px;
}

.nav-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}


.footer {
    position: absolute;
    /*text-align: center;*/
    bottom: 0;
    width: 100%;
    height: 42px;
    /*border: 1px solid blue;*/
}
.footer p {
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    background-color: #1F2833;
    font-weight: 700;
}


/*RESPONSIVE*/
@media screen and (max-width: 800px) {
    /*HEADER*/
    header .nav-bar-left {
        display: none;
    }

    header .nav-bar-right {
        display: flex;
        flex-direction: column;
        /*border: 1px solid red;*/
    }
    header .nav-bar-right .btn {
        display: block;
        width: 100vw;
        border-bottom: 1px solid #45A29E;
        vertical-align: middle;
        text-align: center;
        margin: 0;
        margin-bottom: 1px;
        border-radius: unset;
    }
    .navbar-expand-md{
        margin: 0;
        padding: 0;
    }

}
